<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form action="/success" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name"><br>
            <label for="email">Email</label>
            <input type="email" name="email"><br>
            <button type="submit">Submit</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>