body{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
main{
    padding: 1rem;
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: rgb(151, 136, 49);
    padding: 0 1.5rem;
    box-shadow: rgba(68, 50, 50, 0.075) 0px 1px 2px 0px,
    rgba(49, 49, 48, 0.6) 0px 1px 3px 1px

}
.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item-list{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}
.main-header_item{
    padding: 0%;
    margin: 0 1rem;

}
.main-header_item a{
    text-decoration: none;
    color: rgb(245, 247, 249);
}
.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active{
   color:#2f0380;
   border-bottom: 1px solid #ccc;
   padding: 3px;
}

.main-header_item a:hover{
    color: #fff;
    border: none;
}
.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;

}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
   display: block;
   width: 100%;
}
.form-control input{
    border: 1px solid rgb(183, 108, 54);
    font:inherit;
    border-radius: 2px;
}
button{ 
    font: inherit;
    border: 1px solid black;
    color: blueviolet;
    background-color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;

}
button:hover,
button:active{
    background-color: rgb(167, 31, 144);
    color: rgb(252, 251, 251);
}